body {
	font-family: Helvetica, Arial, sans-serif; 
}

h1, h2, h3 {
	margin: 0;
	padding: 0}

#theCanvas {
	/*width: 80%;
	height: 40%;
	*/
	border-style: none;
	margin: 0 auto;
	box-shadow: 0 0 5px #bbb;
	outline: none}

#theCode {
	width: 80%;
	height: 10em;
	border-style: solid;
	overflow: auto;
	white-space: pre; 
}

#tools {
	width: 200px;
	float: left 
}

#objectContainer {
	width: 200px;
	float: right 
}

#objects {
	margin: 0;
	padding: 0;
	min-height: 5em;
	background-color: #e6e6e6; 
}

#objects li {
	list-style-type: none;
	background-color: #eee;
	padding: .2em .4em;
	cursor: pointer;
	border-bottom: solid thin #999;
	font-size: .9em; 
}

#objects li:hover, #objects li#current {
	background-color: #dedede; 
}

.highlighted {
	background-color: rgba(255, 255, 0, .4) 
}

#todo {
	display: none}

#theCode p {
	margin: 0 
}

#theCanvas .drawingRect {
	cursor: crosshair; 
}

